@model Dictionary<string, List<VeraDAL.DB.SonKonumRaporuObjectRepo>>

@{
    Layout = null;
}

@*<script src="~/Content/assets/plugins/jquery/jquery.min.js"></script>*@
<script src="~/Content/assets/plugins/jquery/printThis.js"></script>



<!--replacepoint-->
<div id="exportSKRDiv">
    <style>
        body {
            font-family: Verdana !important;
            color: black;
        }

        h5 {
            color: black;
        }
    </style>

    <div class="col-md-12">
        <!--replacepoint1-->
        <button id="pdfBtn" type="button" onclick="$('#exportSKRDiv').printThis();"
                style="float:right; width:200px; border:none;
    color:black; padding:20px; text-align:center;
    text-decoration:none; display:inline-block;
    font-size:16px;margin:4px 2px;cursor:pointer;
    border-radius:8px; font-weight:bold">
            PDF İNDİR
        </button>
        <!--replacepoint2-->
        <h1 style="text-align:center;">SON KONUM RAPORU</h1>
        <div class="row">
            <div class="col-md-12">
                <h5>Tarih :@ViewBag.Tarih</h5>
                <p>Grup Sayısı: @Model.Count</p>
            </div>
        </div>
    </div>
    @foreach (var item in Model)
    {
        <div style="background-color:#a9a9a961; border-top-left-radius:7px; border-bottom-right-radius:7px; margin-top:15px;">
            <table class="table-bordered table" border="1" style="font-size: 12px; border-collapse: collapse; font-family: Verdana; width: 100%; border:1px solid black; text-align: center;">
                <tbody>
                    <tr>
                        <td style="font-size:20px;" colspan="5">Grup</td>
                    </tr>
                    <tr>
                        <td style="font-size:17px;" colspan="5">@item.Key</td>
                    </tr>
                    <tr style="font-size:16px;">
                        <td>Grup Adı</td>
                        <td>Tarih</td>
                        <td>Mobil Tanımı</td>
                        <td>Toplam(Km)</td>
                        <td>Son Konum</td>
                    </tr>
                </tbody>
                <tbody>
                    @{
                        foreach (var item2 in item.Value)
                        {
                            <tr style="font-size:13px;">
                                <td style="padding: 5px;">@item2.Grup</td>
                                <td style="padding: 5px;">@Html.Raw(Convert.ToDateTime(item2.Tarih).ToString("dd.MM.yyyy HH:mm").Replace(" ", "<br>"))</td>
                                <td style="padding: 5px;">@item2.MobilTanimi</td>
                                <td style="padding: 5px;">@item2.ToplamKm</td>
                                <td style="padding: 5px;">@item2.Konum</td>
                            </tr>

                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>
<script>
    $('#pdfBtn').click(function () {

        $('#pdfBtn').hide();

        setTimeout(() => {
            $('#pdfBtn').show();
        }, 1000);
    });
</script>