@{
    ViewData["Title"] = "Cihaz Bilgileri";
}
@model DeviceViewModel

@{
    var activeUser = ViewBag.ActiveUser as VeraDAL.Entities.User;
}

@*Araç Gelen Data Modal*@
<div id="aracGelenDataModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none; padding-right: 17px;" aria-modal="true">
    <div class="modal-dialog modal-xl" style="width:75%;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Araç Gelen Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="form-group mt-2">
                        <h4> <label style="color:black;margin-top: 11px;" id="deviceCarPlateNumberAGD"></label></h4>
                    </div>
                    <div class="from-group">
                        <label>Başlangıç Tarihi:</label><input id="startDateGD" value="@(DateTime.Now.AddDays(-1).ToString("yyyy-MM-dd"))" type="date" class="form-control col-3">
                    </div>
                    <div class="form-group">
                        <label>Bitiş Tarihi:</label><input id="endDateGD" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" type="date" class="form-control col-3">
                        <button type="button" style=" margin-top:15px;" class="btn btn-outline-dark mt-1" onclick="ListPastDeviceData()"> Listele </button>
                        <label style="float:right;margin-top: 55px;">Gösterilecek Kayıt Sayısı:  <input type="text"  id="kayitSayisi" value="100" /></label>
                    </div> 
                    <hr>
                    <div class="table-responsive portled-body" id="pastDeviceDataContainer" style="height: 400px; overflow-y: auto; overflow-x: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>RowNo</th>
                                    <th>Plaka</th>
                                    <th>Data</th>
                                    <th>Tarih</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <div class="col-md-12 portlet-body" id="loadingContainerGD" style="display:none; position:absolute;">
                            <center>
                                <img style="width: 75px;" src="https://thumbs.gfycat.com/ObviousQuarrelsomeIntermediateegret-size_restricted.gif" />
                            </center>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark waves-effect text-left" data-dismiss="modal">Kapat</button>
            </div>
        </div>
    </div>
</div>
@*KM SET*@
<div class="modal fade" id="setKmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">KM Set Etme</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body mx-3">
                <div class="form-group">
                    <div class="modal-body">
                        <label class="col-md-12">  Plaka: <b id="deviceCarPlateSKM" >  </b> </label>
                        <label class="col-md-12">  Gsm Numarası: <b id="deviceGsmSKM" >  </b></label>
                        <label class="col-md-12">  Total Km: <b id="deviceTotalKmSKM" >  </b></label>
                        <label class="col-md-1">KM: </label>
                        <input id="kmToSet" type="text" />
                        <button style="float:right" onclick="SaveKmOfDevice()" class="btn btn-primary mt-2">Kaydet</button>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                </div>
            </div>
        </div>
    </div>
</div>
@*Cihaza  Mesaj Gönderme*@
<div id="sendSmsToDeviceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-modal="true" style=" padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="myModalLabel">Cihaza Mesaj Gönderme</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body">
                <label class="col-md-12"> Plaka: <b id="deviceCarPlateTSM"> </b> </label>
                <label class="col-md-12">  Gsm Numarası: <b id="deviceGsmTSM">  </b></label>
                <label class="col-md-4">Gönderilecek Komut: </label>
                <input type="text" id="messageToSendToDevice" />
                <button style="float:right" onclick="SendMessageToDevice()" class="btn btn-primary mt-2">Gönder</button>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="row " style="padding: 15px !important;">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-dark">
                <i class="icon-settings font-dark"></i>
                <span class="caption-subject bold uppercase">Destek Paneli</span>
            </div>
            <div class="tools"> </div>
        </div>
        <div class="col-md-12">
            <h4 style="display: inline-block; margin-top: 15px; margin-bottom: 15px;">Arama Kriterleri</h4>
        </div>

        <input id="id" value="0" style="display: none" />

        <div class="col-md-4 col-ld-4 col-ms-12">
            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Cihaz Id</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="cihazId" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;" />
                </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Cihaz Gsm No</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="cihazGsmNo" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;" />
                </div>
            </div>




            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Şirket</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <select id="sirket" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;">
                        <option value="0">Hepsi</option>
                        @foreach (var item in Model.Companies.OrderBy(x=>x.CompanyDescription))
                        {
                            <option value="@item.Id">@item.CompanyDescription</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-ld-4 col-ms-12">



            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Aktiflik</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <select id="aktiflik" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;">
                        <option value="-1">Hepsi</option>
                        <option value="1">Aktif</option>
                        <option value="0">Pasif</option>

                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Firma Tipi</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <select id="firmaTipi" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;">
                        <option value="0">Hepsi</option>
                        @foreach (var item in Model.CompanyTypes)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Plaka</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <input id="plaka" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;" />
                </div>
            </div>
        </div>

        <div class="col-md-4 col-ld-4 col-ms-12">


            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Kullanım Durumu</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <select id="kullanimDurumu" class="table-group-action-input form-control input-inline input-small input-sm" style="width: 100% !important;">
                        <option value="0">Hepsi</option>
                        @foreach (var item in Model.UsingStatus)
                        {
                            <option value="@item.Id">@item.Name</option>
                        }
                    </select>
                </div>
            </div>

            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                <div class="col-md-2 col-lg-3" style="height: 30px;">
                    <table style="width: 100%; height: 100%; border-collapse: collapse;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td>
                                <label style="margin-bottom: 0px !important; font-size: 13px;">Alt Firmalı Göster</label>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="md-checkbox-inline">
                        <div class="md-checkbox">
                            <input type="checkbox" id="altFirmalıGoster" class="md-check">
                            <label for="altFirmalıGoster">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-12">
            <div class="col-lg-12">
                <div class="row" style=" margin-bottom: 15px; text-align: center;">
                    <div class="col-md-12 col-lg-12">
                        <button onclick="getList()" class="btn btn-md btn-primary rounded-3 table-group-action-submit" style="float:right">
                            <i class="fa fa-check"></i> Listele
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @*<div class="row" style="margin-top: 15px; margin-bottom: 15px;">
            <div class="col-md-6">
                <button onclick="location.href='@Url.Action("ExportFile","Device")'" class="btn btn-secondary"> <i class="fa fa-file-excel-o fa-lg"></i>  Excel'e Aktar</button>
            </div>
        </div>*@

        <hr />
        <div class="portlet-body" id="tableContainer" style="overflow-y:auto;">

        </div>

        <div class="portlet-body" id="loadingContainer" style="display: none; margin-top: 15px; margin-bottom: 15px;">
            <center>
                <img style="width: 100px;" src="https://thumbs.gfycat.com/ObviousQuarrelsomeIntermediateegret-size_restricted.gif" />
            </center>
        </div>
    </div>
</div> @*device filtering*@
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <h3 class="modal-title text-center modal-lg" id="exampleModalLongTitle"><b> Cihaz Kayıt</b></h3>
                <button style="margin-top: -18px !important;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-lg">
                <div class="form-body">
                    <div class="col-md-3 col-sm-12" style="margin-top:15px;">
                        <div class="form-group">
                            <label> <strong>*</strong> Şirket </label>
                            <select id="companyId" class="form-control input-sm">
                                <option value="0">Seçiniz...</option>
                                @foreach (var item in Model.Companies)
                                {
                                    <option value="@item.Id">@item.CompanyDescription</option>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label><strong>*</strong> Plaka</label>
                            <input id="carPlateNumber" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label><strong>*</strong> Cihaz ID(Comm_id)</label>
                            <input id="deviceId" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label><strong>*</strong> Cihaz Gsm No</label>
                            <input id="deviceGsmNumber" type="text" class="form-control input-sm" />
                        </div>


                        <div class="form-group">
                            <label> <strong>*</strong> Terminal Protokol </label>
                            <select id="terminalProtocolId" class="form-control input-sm">
                                <option value="0">Seçiniz...</option>
                                @foreach (var item in Model.TerminalProtocols)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label> <strong>*</strong> Gateway </label>
                            <select id="gatewayId" class="form-control input-sm">
                                <option value="0">Seçiniz...</option>
                                @foreach (var item in Model.Gateways)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label> <strong>*</strong> Terminal Tipi </label>
                            <select id="terminalTypeId" onchange="getSoftwareVersionsByTerminalTypeId()" class="form-control input-sm">
                                <option value="0">Seçiniz...</option>
                                @foreach (var item in Model.TerminalTypes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label> <strong>*</strong> Yazılım Versiyonu </label>
                            <select id="softwareVersionId" class="form-control input-sm"></select>
                        </div>
                        <div class="form-group">
                            <label><strong>*</strong> IMEI No</label>
                            <input id="IMEINumber" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label> RFID Motor Blokaj </label>
                            <select id="rfidEngineBlock" class="form-control input-sm">
                                <option value="1">Var </option>
                                <option value="0">Yok</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12" style="margin-top:15px;">
                        <div class="form-group">
                            <label>Trafik Verisi</label>
                            <select id="trafficData" class="form-control input-sm">
                                <option value="1">Trafik verisi üretebilir</option>
                                <option value="0">Trafik verisi üretemez</option>

                            </select>
                        </div>
                        <div class="form-group">
                            <label>Sabit Mobil</label>
                            <select id="constantMobile" class="form-control input-sm">
                                <option value="1">Evet</option>
                                <option value="0">Hayır</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label> RFID Motor Blokaj Durum </label>
                            <select id="rfidEngineBlockStatus" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Programlanan Hız Limiti(km)</label>
                            <input id="programmedSpeedLimit" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label>Programlanan Bekleme(dk)</label>
                            <input id="programmedWaitingTime" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label>Programlanan HeartBeat(sn)</label>
                            <input id="programmedHeartBeat" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label>Aktiflik Süresi(dk)</label>
                            <input id="activityTime" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label>Muhasebe Hesap Kodu</label>
                            <input id="accountingCode" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label> Kullanım Durumu </label>
                            <select id="usingStatusId" class="form-control input-sm">
                                @foreach (var item in Model.UsingStatus)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }

                            </select>
                        </div>

                        <div class="form-group">
                            <label>Kamera URL</label>
                            <input id="cameraURL" type="text" class="form-control input-sm" />
                        </div>

                    </div>
                    <div class="col-md-3 col-sm-12" style="margin-top:15px;">
                        <div class="form-group">
                            <label> Yaz Saati </label>
                            <select id="isSummerTime" class="form-control input-sm">
                                <option value="1">Evet</option>
                                <option value="0">Hayır</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Saat Farkı</label>
                            <input id="timeDifference" type="text" class="form-control input-sm" />
                        </div>



                        <div class="form-group">
                            <label>Sefer</label>
                            <select id="journey" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Mesajlaşma</label>
                            <select id="messagingId" class="form-control input-sm">
                                @foreach (var item in Model.Messagings)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Telemetri</label>
                            <select id="telemetry" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Ref. Telemetri Reçetesi</label>
                            <select id="refTelemetryRecipeId" class="form-control input-sm">
                                @foreach (var item in Model.RefTelemetryTypes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Servis Tipi</label>
                            <select id="serviceTypeId" class="form-control input-sm">
                                @foreach (var item in Model.ServiceTypes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Kapı Sensörü</label>
                            <select id="doorSensor" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Isı Sensörü</label>
                            <select id="heatSensor" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Motor Blokajı</label>
                            <select id="engineBlock" class="form-control input-sm">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                        </div>


                    </div>
                    <div class="col-md-3 col-sm-12" style="margin-top:15px;">
                        <div class="form-group">
                            <label>Programlanan Konum Süresi(dk)</label>
                            <input id="programmedLocationSendTime" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label>Programlanan Konum Mesafe(mt)</label>
                            <input id="programmedLocationDistance" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label>Sabit Lat.(DD.DDDDDD)</label>
                            <input id="constantLatitude" type="text" class="form-control input-sm" />
                        </div>
                        <div class="form-group">
                            <label>Sabit Long.(DD.DDDDDD)</label>
                            <input id="constantLongitude" type="text" class="form-control input-sm" />
                        </div>

                        <div class="form-group">
                            <label>Wochecker Flag</label>
                            <select id="wocheckerFlagId" class="form-control input-sm">
                                @foreach (var item in Model.WocheckerFlags)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>

                        <div class="form-group">
                            <label>Araç Tipi</label>
                            <select id="vehicleTypeId" class="form-control input-sm">
                                @foreach (var item in Model.Vehicles)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Cihaz Montaj Türü</label>
                            <select id="deviceMontageTypeId" class="form-control input-sm">
                                @foreach (var item in Model.DeviceMontageTypes)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group form-md-checkboxes">
                            <label>G Sensör</label>
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input type="checkbox" id="GSensor" class="md-check">
                                    <label for="GSensor">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group form-md-checkboxes">
                            <label>Sürücü Skorlama</label>
                            <div class="md-checkbox-inline">
                                <div class="md-checkbox">
                                    <input type="checkbox" id="driverScoring" class="md-check">
                                    <label for="driverScoring">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="SaveDevice();" style="margin-left:35%; margin-top:23px;float: right;" class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                    <div class="modal-footer" style="text-align: unset;">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> @*modal form*@
<script>
     $(document).ready(function () {
        //getList(true);
	 });

	function SaveDevice() {
		var id =$("#id").val();
		var companyId  =$("#companyId").val();
		var deviceMontageTypeId  =$("#deviceMontageTypeId").val();
		var softwareVersionId= $("#softwareVersionId").val();
		var usingStatusId =$("#usingStatusId").val();
		var messagingId =$("#messagingId").val();
		var refTelemetryRecipeId=$("#refTelemetryRecipeId").val();
		var serviceTypeId  =$("#serviceTypeId").val();
		var wocheckerFlagId  =$("#wocheckerFlagId").val();
		var vehicleTypeId  =$("#vehicleTypeId").val();
		var deviceId =$("#deviceId").val();
		var terminalProtocolId =$("#terminalProtocolId").val();
		var terminalTypeId =$("#terminalTypeId").val();
		var gatewayId=$("#gatewayId").val();
		var carPlateNumber=$("#carPlateNumber").val();
		var deviceGsmNumber=$("#deviceGsmNumber").val();
		var rfidEngineBlock=$("#rfidEngineBlock").val();
		var rfidEngineBlockStatus=$("#rfidEngineBlockStatus").val();
		var programmedLocationSendTime=$("#programmedLocationSendTime").val();
		var programmedLocationDistance =$("#programmedLocationDistance").val();
		var programmedSpeedLimit =$("#programmedSpeedLimit").val();
		var programmedWaitingTime =$("#programmedWaitingTime").val();
		var programmedHeartBeat = $("#programmedHeartBeat").val();
		var activityTime=$("#activityTime").val();
		var cameraURL  =$("#cameraURL").val();
		var isSummerTime  =$("#isSummerTime").val();
		var timeDifference  = $("#timeDifference").val();
		var IMEINumber  =$("#IMEINumber").val();
		var journey=$("#journey").val();
		var telemetry =$("#telemetry").val();
		var doorSensor  =$("#doorSensor").val();
		var heatSensor   =$("#heatSensor").val();
		var engineBlock  =$("#engineBlock").val();
		var trafficData  =$("#trafficData").val();
		var constantMobile =$("#constantMobile").val();
		var constantLatitude =$("#constantLatitude").val();
		var constantLongitude=  $("#constantLongitude").val();
		var GSensor = $("#GSensor").is(':checked');
		var driverScoring = $("#driverScoring").is(':checked');
		var accountingCode = $("#accountingCode").val();

		var montageDate = $("#montageDate"+id).val();
		var montagePerson = $("#montagePerson"+id).val();
		var technicalNote = $("#technicalNote" + id).val();

		if (companyId =="" || carPlateNumber == "" || deviceId == "" || deviceGsmNumber == "" || terminalProtocolId == "" || gatewayId == "" || terminalTypeId == "" || softwareVersionId == "" || IMEINumber == "") {
			swal('Hata!', 'Lütfen yıldızlı(*) alanları boş bırakmayınız!!', 'error');
			return;
		}
		   $.ajax({
            url: '@Url.Action("SaveDevice", "Support")',
            type: 'POST',
            dataType: 'json',
             data: {
			    "_id":id ,
				"_companyId":companyId ,
				"_deviceMontageTypeId":deviceMontageTypeId ,
				"_softwareVersionId":softwareVersionId ,
				"_usingStatusId":usingStatusId ,
				"_messagingId":messagingId ,
				"_refTelemetryRecipeId":refTelemetryRecipeId ,
				"_serviceTypeId":serviceTypeId ,
				"_wocheckerFlagId":wocheckerFlagId ,
				"_vehicleTypeId":vehicleTypeId ,
				"_deviceId":deviceId ,
				"_terminalProtocolId":terminalProtocolId ,
				"_terminalTypeId": terminalTypeId,
				"_gatewayId":gatewayId ,
				"_carPlateNumber":carPlateNumber ,
				"_deviceGsmNumber":deviceGsmNumber ,
				"_rfidEngineBlock":rfidEngineBlock ,
				"_rfidEngineBlockStatus":rfidEngineBlockStatus ,
				 "_programmedLocationSendTime": programmedLocationSendTime,
				 "_programmedLocationDistance": programmedLocationDistance,
				"_programmedSpeedLimit":programmedSpeedLimit ,
				"_programmedWaitingTime":programmedWaitingTime ,
				"_programmedHeartBeat":programmedHeartBeat ,
				"_activityTime":activityTime ,
				"_cameraURL":cameraURL ,
				"_isSummerTime":isSummerTime ,
				"_timeDifference":timeDifference ,
				"_IMEINumber":IMEINumber ,
				"_journey":journey ,
				"_telemetry":telemetry ,
				"_doorSensor":doorSensor ,
				"_heatSensor": heatSensor,
				"_engineBlock":engineBlock ,
				"_trafficData":trafficData ,
				"_constantMobile":constantMobile ,
				"_constantLatitude":constantLatitude ,
				"_constantLongitude":constantLongitude ,
				"_GSensor":GSensor ,
				"_driverScoring":driverScoring,
				 "_accountingCode": accountingCode,

				 "_montageDate": montageDate,
				 "_montagePerson": montagePerson,
				 "_technicalNote": technicalNote

            },
            success: function (data) {
                if (data) {
                    swal('Başarılı!', 'Cihaz Kaydedildi!', 'success')
                        .then((value) => {
                            window.location.reload();
                        });
                }
            }
        })
	}

	function getSoftwareVersionsByTerminalTypeId() {
		var terminalTypeId = $("#terminalTypeId").val();

		$.ajax({
			url: '@Url.Action("GetSoftwareVersionsByTerminalTypeId", "Support")',
			type: 'POST',
			dataType: 'json',
			data: {
				"_terminalTypeId": terminalTypeId
			},
			success: function (data) {
	debugger;
				$("#softwareVersionId").html('');
				for (var i = 0; i < data.length; i++) {
					$("#softwareVersionId").append('<option value="' + data[i]["Id"] + '">' + data[i]["VersionCode"] + '</option>');
				}
			}
		});
	}
	//filtreleme yaparken
	function getSoftwareVersionsByTerminalTypeId2() {
		var terminalTipId = $("#terminalTipId").val();

		$.ajax({
			url: '@Url.Action("GetSoftwareVersionsByTerminalTypeId", "Support")',
			type: 'POST',
			dataType: 'json',
			data: {
				"_terminalTypeId": terminalTipId
			},
			success: function (data) {
	debugger;
				$("#yazılımVersionId").html('');
				for (var i = 0; i < data.length; i++) {
					$("#yazılımVersionId").append('<option value="' + data[i]["Id"] + '">' + data[i]["VersionCode"] + '</option>');
				}
			}
		});
		}

	function getList(isDefault = false) {
	$("#tableContainer").html('');
        $("#loadingContainer").show();
		 cihazId = $("#cihazId").val();
		 cihazGsmNo = $("#cihazGsmNo").val();
		 plaka = $("#plaka").val();
		 sirket = $("#sirket").val();
		 kullanimDurumu = $("#kullanimDurumu").val();
		altFirmalıGoster =$("#altFirmalıGoster").is(':checked');
		 aktiflik = $("#aktiflik").val();
		 firmaTipi = $("#firmaTipi").val();
		 terminalTypeId = $("#terminalTypeId").val();
		 softwareVersionId = $("#softwareVersionId").val();
		 cihazMontajTuru = $("#cihazMontajTuru").val();
		$.ajax({
			url: '@Url.Action("GetDeviceList", "Support")',
			type: 'POST',
			dataType: 'html',
			data: {
				"_cihazId": (isDefault ? "" : cihazId),
				"_cihazGsmNo": (isDefault ? "" : cihazGsmNo),
				"_plaka": (isDefault ? "" : plaka),
				"_sirket": (isDefault ? "0" : sirket),
				"_altFirmalıGoster": (isDefault ? "0" : (altFirmalıGoster == true ? 1 : 0)),
				"_kullanimDurumu": (isDefault ? "0" : kullanimDurumu),
				"_aktiflik": (isDefault ? "-1" : aktiflik),
				"_firmaTipi": (isDefault ? "0" : firmaTipi),
				"_terminalTypeId": (isDefault ? "0" : terminalTypeId),
				"_softwareVersionId": (isDefault ? "0" : softwareVersionId),
				"_cihazMontajTuru": (isDefault ? "0" : cihazMontajTuru)
			},
            success: function (data) {   
                   if (data == "false") {
                     $("#loadingContainer").hide();
                     data = "Eşleşen Cihaz Bulunamadı ...";
                     $("#tableContainer").html(data); 
                     return;
                 }
                 $("#loadingContainer").hide();
                 $("#tableContainer").html(data); 
              
			}
		});
	}

	function GetDeviceById(id)
	{
		$.ajax({
				url: '@Url.Action("GetDeviceById", "Support")',
				type: 'POST',
				dataType: 'json',
				data: {
				"_id": id
		 },
		success: function (data) {
		console.log(data);
					$("#exampleModalCenter").modal('show');


					$("#id").val(data["Id"]);
					$("#companyId").val(data["CompanyId"]);
					$("#deviceMontageTypeId").val(data["DeviceMontageTypeId"]);
					$("#usingStatusId").val(data["UsingStatusId"]);
					$("#messagingId").val(data["MessagingId"]);
					$("#refTelemetryRecipeId").val(data["RefTelemetryRecipeId"]);
					$("#serviceTypeId").val(data["ServiceTypeId"]);
					$("#wocheckerFlagId").val(data["WocheckerFlagId"]);
					$("#vehicleTypeId").val(data["VehicleTypeId"]);
					$("#deviceId").val(data["DeviceId"]);
					$("#terminalProtocolId").val(data["TerminalProtocolId"]);
					$("#terminalTypeId").val(data["TerminalTypeId"]);
					$("#terminalTypeId").trigger("onchange");
					setTimeout(function () {
						$("#softwareVersionId").val(data["SoftwareVersionId"]);
					}, 750);
					$("#gatewayId").val(data["GatewayId"]);
					$("#carPlateNumber").val(data["CarPlateNumber"]);
					$("#deviceGsmNumber").val(data["DeviceGsmNumber"]);
					$("#rfidEngineBlock").val(data["RFIDEngineBlock"]==true?1:0);
					$("#rfidEngineBlockStatus").val(data["RFIDEngineBlockStatus"]==true?1:0);
					$("#programmedLocationSendTime").val(data["ProgrammedLocationSendTime"]);
					$("#programmedLocationDistance").val(data["ProgrammedLocationDistance"]);
					$("#programmedSpeedLimit").val(data["ProgrammedSpeedLimit"]);
					$("#programmedWaitingTime").val(data["ProgrammedWaitingTime"]);
					$("#programmedHeartBeat ").val(data["ProgrammedHeartBeat"]);
					$("#activityTime").val(data["ActivityTime"]);
					$("#cameraURL").val(data["CameraURL"]);
					$("#isSummerTime").val(data["IsSummerTime"]==true?1:0);
					$("#timeDifference").val(data["TimeDifference"]);
					$("#IMEINumber").val(data["IMEINumber"]);
					$("#journey").val(data["Journey"]==true?1:0);
					$("#telemetry").val(data["Telemetry"]==true?1:0);
					$("#doorSensor").val(data["DoorSensor"]==true?1:0);
					$("#heatSensor").val(data["HeatSensor"]==true?1:0);
					$("#engineBlock").val(data["EngineBlock"]==true?1:0);
					$("#trafficData").val(data["TrafficData"]==true?1:0);
					$("#constantMobile").val(data["ConstantMobile"]==true?1:0);
					$("#constantLatitude").val(data["ConstantLatitude"]);
					$("#constantLongitude").val(data["ConstantLongitude"]);
					$("#accountingCode").val(data["AccountingCode"]);
					$("#GSensor").prop("checked", data["GSensor"]);
					$("#driverScoring").prop("checked",data["DriverScoring"]);
           		 }
			});
 	}



</script> @*crud operations*@
<script>
    function getOffset(el) {
        var _x = 0;
        var _y = 0;
        while (el && !isNaN(el.offsetLeft) && !isNaN(el.offsetTop)) {
            _x += el.offsetLeft - el.scrollLeft;
            _y += el.offsetTop - el.scrollTop;
            el = el.offsetParent;
        }
        return { top: _y, left: _x };
    }
    var lastOptionClickedDeviceId = 0;
    function showSubMenu(deviceId,  elem) {
        debugger;
        lastOptionClickedDeviceId = deviceId;
        $("#rightClickMenuContainer").fadeIn(250);
        var objOffset = getOffset(elem);
        var height = $("#rightClickMenu").height();
        var toptop = 0;
        $("#rightClickMenu").css("margin-top", (objOffset.top - parseInt($("#rightClickMenu").height())));

        $("#rightClickMenu").css("margin-left", objOffset.left + 20);
    }
    function SaveKmOfDevice() {
        var kmToSet = $('#kmToSet').val();
        if (kmToSet == "") {
            swal("Hata!", "Lütfen km değeri giriniz..", "error");
            return;
        }
        $.ajax({
			url: '@Url.Action("SetKmOfDevice", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_deviceId': lastOptionClickedDeviceId,
                '_kmToSet': kmToSet
			},
            success: function (data) {
                if (data) {
                    swal("Başarılı", "Km kaydedildi", "success");
                }
                else {
                        swal("Hata!", "Km kaydedilemedi", "error");
                }
			}
		});
    }
    function SendMessageToDevice(){
        var messageToSendToDevice = $('#messageToSendToDevice').val();
        var deviceGsmNumber = $('#deviceGsmTSM').text();
        if (deviceGsmNumber == "") {
             swal("Hata!", "Kayıtlı Telefon Numarası Bulunmamaktadır", "error");
             return;
        }
         $.ajax({
            url: '@Url.Action("SendMessageToDevice", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_messageToSendToDevice': messageToSendToDevice,
                '_deviceGsmNumber':deviceGsmNumber
			},
            success: function (data) {
                debugger;
                if (data) {
                    swal("Başarılı", "Mesaj  Gönderildi", "success");
                }
                else {
                    swal("Hata!", "Mesaj Gönderilemedi", "error");
                }
			}
		});
    }
    $('#sendSmsModal').click(function () {
        $.ajax({
            url: '@Url.Action("GetDeviceById", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_id': lastOptionClickedDeviceId,
			},
            success: function (data) {
                debugger;
                if (data) {
                    $('#deviceCarPlateTSM').text(data["CarPlateNumber"]);
                    $('#deviceGsmTSM').text(data["DeviceGsmNumber"]);
                }
                else {

                }
			}
		});
    });
    $('#setKmAndSendModal').click(function () {
         $.ajax({
            url: '@Url.Action("GetDeviceByIdToModal", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_id': lastOptionClickedDeviceId,
			},
            success: function (data) {
                debugger;
                if (data) {
                    $('#deviceCarPlateSKM').text(data["CarPlateNumber"]);
                    $('#deviceGsmSKM').text(data["DeviceGsmNumber"]);
                    $('#deviceTotalKmSKM').text(data["AracSonKmBilgisi"]);
                }
                else {

                }
			}
		});
    });
    function ListPastDeviceData() {
        $('#loadingContainerGD').show();
        var startDateGD = $('#startDateGD').val();
        var endDateGD = $('#endDateGD').val();
        var kayitSayisi = $('#kayitSayisi').val();
        if (kayitSayisi == 0 || kayitSayisi < 0) {
            swal("Hata!", "Geçerli Bir Sayı Giriniz", "error");
            return;
        }
        $('#pastDeviceDataContainer tbody').html("");
        $.ajax({
            url: '@Url.Action("GetPastDeviceData", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_deviceId': lastOptionClickedDeviceId,
                '_startDateGD': startDateGD,
                '_endDateGD': endDateGD,
                '_kayitSayisi':kayitSayisi
			},
            success: function (data) {
                debugger;
                 $('#loadingContainerGD').hide();
                if (data) {
                    var html = "";
                    var rowNo = "";
                    var tarih = "";
                    var dataRow = "";
                    for (var i = 0; i < data.length; i++) {
                        var item = data[i];
                        rowNo = item.Id; 
                        dataRow = item.MessageType+","+item.DeviceId+","+item.IoStatus+","+item.Latitude+","+item.Longtitude+","+item.KmPerHour+","+item.TotalKm+","+item.DistanceBetweenTwoPackages+","+item.DirectionDegree+","+item.Altitude+","+item.CreateDate+","+item.RFID;
                        tarih = item.CreateDate.replace("T"," ");
                        html += "<tr><td>" + rowNo + "</td><td>" + item.CarPlateNumber + "</td> <td>" + dataRow + "</td> <td>" + tarih + "</td></tr>";  
                    } 
                    $('#pastDeviceDataContainer tbody').append(html);
                    $('#kayitSayisi').val(data.length);
                }
                else {

                }
			}
		}); 
    }
    $('#aracGelenDataId').click(function () {
       $.ajax({
            url: '@Url.Action("GetDeviceById", "Support")',
			type: 'POST',
			dataType: 'json',
            data: {
                '_id': lastOptionClickedDeviceId,
			},
            success: function (data) {
                debugger;
                if (data) {
                    $('#deviceCarPlateNumberAGD').text(data["CarPlateNumber"]); 
                }
                else {

                }
			}
		});
    })

</script> @*settingsMenuPosition*@